@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./libs/antd/backgrooundBlur.scss');

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/Inter.ttf);
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-Thin.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-ExtraLight.ttf);
    font-weight: 200;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-Light.ttf);
    font-weight: 300;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-Regular.ttf);
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-Medium.ttf);
    font-weight: 500;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-SemiBold.ttf);
    font-weight: 600;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-ExtraBold.ttf);
    font-weight: 800;
  }

  @font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/static/Inter-Black.ttf);
    font-weight: 900;
  }

  body {
    @apply font-inter bg-[#F5F5F5];
  }
}

* {
  @apply font-inter;
}

// body {
//   background-image: url('./assets/wallpaper-background.jpg');
//   object-fit: cover;
//   background-size: cover;
// }
